@import "tailwindcss";

*{
  background-color: #f9f9f9;

  box-sizing: border-box;
}
.containers{display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
background-color: #f0f1aa;padding: 1rem;}