.active {
    text-decoration-color: darkred;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    color: black;
  }
  .link {
    cursor: pointer;
  }
  .link:hover {
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-decoration-color: black;
    transition:
      color,
      scale 200ms ease-in-out;
  }